<div class="container-fluid">
<div class="row-fluid">
	<div class="span6">
		<h4>General Assembly Marketing Initiatives</h4>
		<h6>All initiatives © General Assembly Space Inc 2010-3</h6>
	</div>

	<div class="span3 offset3">
			<br /> 
		<%= button_to 'Create New Initiative', new_initiative_path, :method => :get, :class => "btn btn-primary" %>
	</div>
</div>
</div>

<div class="span12">
<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th><%= sortable "market_id", "Market" %></th>
    <th><%= sortable "launchdate", "Launch Date" %></th>  
    <th><%= sortable "enddate", "End Date" %></th> 
    <th>Budget</th>
    <th>Target Emails</th>
    <th>Actual Emails</th>
    <th>Spent</th>
    <th>Team Lead</th>
    <th></th>
  </tr>
  
  <% currenttime = DateTime.now %>

<% @initiatives.each do |initiative| %>
  <tr>
     <td><% if initiative.name.empty? %>
        <%= button_to 'HUH?', edit_initiative_path(initiative), :method => 'get', :class => "btn btn-danger" %>
    <% else %>
    	<%= initiative.name %>
    <% end %>
    </td>
    <td><%= initiative.market.name %></td>
    <td><%= initiative.launchdate.strftime('%m/%d') %></td>
    <td><%= initiative.enddate.strftime('%m/%d') %></td>
    <td>$<%= initiative.budget %></td>
    <td><%= initiative.targetemails %></td>
    <td><% if initiative.enddate < currenttime && initiative.actualemails.nil? %>
    	<%= button_to 'MISSING', edit_initiative_path(initiative), :method => 'get', :class => "btn btn-danger" %>
    <% else %>
    	<%= initiative.actualemails %>
    <% end %>    
    </td>
    <td><% if initiative.enddate < currenttime && initiative.spent.nil?%>
    	<%= button_to 'MISSING', edit_initiative_path(initiative), :method => 'get', :class => "btn btn-danger" %>
    <% else %>
    	$<%= initiative.spent %>
    <% end %>
    </td>
    <td><% if initiative.teamlead.empty? %>
        <%= button_to 'MISSING', edit_initiative_path(initiative), :method => 'get', :class => "btn btn-danger" %>
    <% else %>
    	<%= initiative.teamlead %>
    <% end %>
    </td>
    <td><%= button_to 'View', initiative, :method => 'get', :class => "btn btn-info" %></td>
  </tr>
<% end %>
</table>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
What are you doing down here? 
<br />
<br />
<br />
</div>
