<div class="container-fluid">
<div class="row-fluid">
	<div class="span6">
		<h4>Market Stats</h4>
		<h6>All stats © General Assembly Space Inc 2010-3</h6>
	</div>
</div>
</div>

<div class="span12">
<table class="table table-striped">
  <tr>
    <th>Market</th>
    <th>Q1 Email Target</th>
    <th>Target in Tracker</th>
    <th>Actual in Tracker</th>
    <th>Q1 Budget</th>
    <th>Allocated $ in Tracker</th>
    <th>Spent $ in Tracker</th>
  </tr>
  
<% @markets.each do |market| %>
  <tr>
    <td><%= market.name %></td>
    <td><%= market.q12013_target %></td>
    <% targetemailsum = 0;
       actualemailsum = 0;
       totalbudgeted = 0;
       totalspent = 0;
       Initiative.where(:market_id => market.id).each do |initiative|
       		if initiative.targetemails.nil?
       		else
       			targetemailsum += initiative.targetemails
       		end
       		if initiative.actualemails.nil?
       		else
       			actualemailsum += initiative.actualemails
       		end
       		if initiative.budget.nil?
       		else
       			totalbudgeted += initiative.budget
       		end
       		if initiative.spent.nil?
       		else
       			totalspent += initiative.spent
       		end
   		end %>
    <td><%= targetemailsum %></td> 
    <td><%= actualemailsum %></td> 
    <td>$<%= market.q12013_budget %></td> 
    <td>$<%= totalbudgeted %></td> 
    <td>$<%= totalspent %></td> 
  </tr>
<% end %>
</table></div>
