<!DOCTYPE html>
<html>
<head>
  <title>GA Marketing Initiatives Tracker</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body>
  <div id="container" class="container">
    <header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </header>
    <div id="main" role="main">
		<%= yield %>
	</div>
  </div> <!--! end of #container -->
</body>
</html>
